.main-box {
    margin-top: 100px;
    text-align: center;
    padding: 50px 0px;
}

.form-box {
    width: 450px;
    margin: 10px auto;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 25px 30px 10px 30px;
    background-color: rgb(238, 215, 234);
    box-shadow: 5px 5px 20px lightgrey;
}

.btn-group {
    margin: 10px 0px 20px 0px;
}

.my-btn {
    width: 120px;
    margin: 3px;
    border-radius: 10px;
}

.form-group {
    text-align: left;
}

.form-group label {
    margin: 0px 5px;
    font-size: 1em;
    color: rgb(38, 22, 94);
}

.foorm-control {
    font-size: 1.15em;
    font-family: 'Consolas';
}

.error {
    color: darkred;
    font-size: 0.97em;
    margin-left: 5px;
}

.auth-main {
    background: url(../images/banner.jpg);
    padding-top: 100px;
    padding: 110px;
}
